@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');

body {font-family: 'Permanent Marker', cursive;

}
header {
    padding: 20px;
    
    align-items: center;
    display: flex;
    justify-content: space-between;
    font: uppercase;
    flex-direction: column;
    font-family: 'Permanent Marker', cursive;
}

nav ul {
    list-style-type: none;
    display: flex;
    font-family: 
  }

  nav li {
    margin-left: 10px;
    }

  nav a:hover {
  color: grey;
  }

/* navigation section */ 
  nav a {
    text-decoration: none;
    border-bottom: none;
    color: black;
    border: 2px solid;
    padding: 5px 10px;
    border-radius: 15px;
    font-family: 'Permanent Marker', cursive;
    
    

  }

  .logo a {
    text-decoration: none;
    color: #333;
    border-bottom: none;
    letter-spacing: 4px;
    size: 100%;
  }
  
  .logo a:hover {
    color: grey;
  }

  /* hero-image */
  .hero {
    background-image: url(../images/pizza1.jpg);
    background-size: cover;
    background-position: center;
    height: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    
    
  }

  .hero h1, h2 {
    
    font-size: 48px;
    color:white;
    letter-spacing: 4px;
    animation-name: fadeIn;
    animation-duration: 3s;
    animation-fill-mode: forwards;
    margin-bottom: 100px;
  }

  /* animation for hero-image text */
  @keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* about section hero-image */
.hero2 {
  background-image: url(../images/pizza2.jpg);
  background-size: cover;
  background-position: center;
  height: 600px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  }

/* about section hero-image text */
.hero2 h1, h2 {
  
  font-size: 48px;
  color:white;
  letter-spacing: 4px;
  
  }

  /* feedback section hero-image */
  .hero3 {
    background-image: url(../images/takeaway.jpg);
    background-size: cover;
    background-position: center;
    height: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

    /* feedback section form */
    .feedback-form {
      width: 300px;
      margin: 0 auto;
    }
    
    .feedback-form h3 {
      text-align: center;
      
      color: #fff;
      }
    
    .feedback-form label,
    .feedback-form input,
    .feedback-form textarea,
    .feedback-form button {
      display: block;
      width: 100%;
      margin-bottom: 10px;
      
      color: #fff;
    }
    
    .feedback-form textarea {
      height: 200px;
    }
    
    .feedback-form button {
      background-color: #4caf50;
      color: #fff;
      border: none;
      padding: 10px;
      cursor: pointer;
      border-radius: 20px;
    }




    
   
    
    
    
    
    